<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post">
            <input type="email" id="emailForm" name="emailForm" placeholder="E-mail">
            <input type="password" id="senhaForm" name="senhaForm" placeholder="Senha">

            <div class="actions">
                <button type="submit" href="/paginaprincipal" class="btn">Entrar</button>
                <a href="/cadastro" class="btn secondary">Cadastrar-se</a>
            </div>
        </form>
</body>
</html>